BODY {
	font-family: serif;
	color: #FFFFFF;
	background-color: #003300;
}

H1, H2, H3 {
	font-family: sans-serif;
}

P {
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1em;
}

.title {
	margin-top: 0em;
	padding-right: 2em;
	color: #FFCC00;
	align: right;
	clear: both;
}

.right {
	align: right;
}

.copy {
	font-size: small;
	color: #FFFFFF;
}

.parent {
	background-color: #000000;
	padding-top: 0.25em;
	margin-left: 1em;
	font-family: sans-serif;
	color: #CCFF99;
}

.current {
	background-color: #000000;
	padding-top: 0.25em;
	margin-left: 1em;
	font-size: large;
	color: #CCFF00;
	font-family: sans-serif;
}

.child {
	background-color: #000000;
	padding-top: 0.25em;
	margin-left: 1em;
	font-size: medium;
	font-family: sans-serif;
}

.navigate {
	margin-top: 0em;
	padding: 0em;
	padding-bottom: 0.25em;
	float: left;
   background-color: #006600;
}

.content {
   background-color: #EEEEFF;
	color: #000000;
   border-style: none;
   border-width: thin;
	padding: 0em;
	margin: 0em;
	margin-right: 2em;
	margin-top: 1.8em;
	width: 100%;
}

.list {
	margin-right: 5em;
	vertical-align: top;
	margin-top: 0px;
	margin-bottom: 1em;
}

KBD {
	font-family: monospace;
	color: #333333;
	background-color: #EEEEFF;
}

.cmdline {
	text-indent: -1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.linkimg {
	border-width: 0px;
}

A:link
{
	color: navy;
}

A:visited
{
	color: #000000;
}

A:active
{
	color: #000000;
}
A.navlink
{
	color: #CCFF99;
}
